.header-typing  {
  border: none;
  border-right: 0.15em solid rgb(234, 88, 12);
  white-space: nowrap;
  overflow: hidden;
}

.header-1 {
  width: 600px;
  animation: headertype 1s steps(40, end) forwards;
}

.header-2 {
  width: 500px;
  opacity: 0;
  animation: headertype 1s steps(40, end) forwards;
  animation-delay: 1s; /* Start after 1s delay */
}

.header-3 {
  width: 1080px; /* Adjust width as needed */
  opacity: 0;
  animation: headertype 1.5s steps(80, end) forwards;
  animation-delay: 2s; /* Start after 2s delay */
}

.header-4 {
  width: 1070px; /* Adjust width as needed */
  opacity: 0;
  animation: headertype 1.5s steps(80, end) forwards;
  animation-delay: 3.5s; /* Start after 3s delay */
}

.header-5 {
  width: 230px; /* Adjust width as needed */
  opacity: 0;
  animation: headertype 0.5s steps(80, end) forwards;
  animation-delay: 5s; /* Start after 4s delay */
}

.header-6 {
  width: 700px; /* Adjust width as needed */
  opacity: 0;
  animation: headertype 1s steps(40, end) forwards;
  animation-delay: 5s; /* Start after 3s delay */
}

.header-7 {
  width: 200px; /* Adjust width as needed */
  opacity: 0;
  animation: headertype 1s steps(40, end) forwards;
  animation-delay: 6s; /* Start after 4s delay */
}
.header-8 {
  width: 500px; /* Adjust width as needed */
  opacity: 0;
  animation: headertype 1s steps(40, end) forwards;
  animation-delay: 5s; /* Start after 3s delay */
}
.header-9 {
  width: 500px; /* Adjust width as needed */
  opacity: 0;
  animation: headertype 1s steps(40, end) forwards;
  animation-delay: 5s; /* Start after 3s delay */
}
.header-10 {
  width: 500px; /* Adjust width as needed */
  opacity: 0;
  animation: headertype 1s steps(40, end) forwards;
  animation-delay: 5s; /* Start after 3s delay */
}

@keyframes headertype {
  0% {
    width: 0;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  99% {
    border-right: 0.15em solid rgb(234, 88, 12);
  }
  100% {
    opacity: 1;
    border: none;
  }
}

.typewriter-text span {
  opacity: 0;
  animation: typing 0.05s forwards;
  animation-delay: calc(var(--char-index) * 0.05s);
}

.cursor {
  display: inline-block;
  border-right: 2px solid rgb(234 88 12); /* Cursor appearance */
  opacity: 1;
}

.blinking {
  display: inline-block;
  border-right: 2px solid rgb(234 88 12); /* Cursor appearance */
  animation: blink 0.75s step-end infinite; /* Apply blinking animation */
}

@keyframes blink {
  50% {
    border-color: transparent; /* Cursor becomes invisible */
  }
}



